<!DOCTYPE html>
<html>
<head>
  <title>ProjectWarmup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !session[:user_id].nil? %>
    <% @user = User.find(session[:user_id]) %>
    <h2>Welcome, <%= @user.email %></h2>
  <% else %>
    <h2>Welcome. Please log in.</h2>
  <% end %>
  
<%= yield %>

</body>
</html>
